@import './Variables'
  
.category-list-items
  li
    list-style-type: none
    padding: 0
    margin: 0

.collapse-button
  margin: 5px
  background-color: $secondary-button-color
  border: none
  font-size: large
  cursor: pointer
  border-radius: 4px

.show-more-button
  margin: 5px
  background-color: $primary-button-color
  border: none
  font-size: x-large
  cursor: pointer
  border-radius: 4px
  padding: 4px

