@import './Variables'
  
.category-list-items
  display: flex
  justify-content: center
  list-style-type: none
  padding: 0px

.items-div
  

.collapse-button
  margin: 5px
  background-color: $secondary-button-color
  border: none
  font-size: large
  cursor: pointer
  border-radius: 4px
  box-shadow: 0 1px 2px 0
  &:hover
    box-shadow: 0 2px 4px 0


.show-more-button
  margin: 5px
  background-color: $primary-button-color
  border: none
  font-size: x-large
  cursor: pointer
  border-radius: 4px
  padding: 4px
  box-shadow: 0 1px 2px 0
  &:hover
    box-shadow: 0 2px 4px 0

.category-card
  display: flex
  justify-content: center
  align-content: center
  flex-direction: column
  background-color: $white
  color: $russian-violet
  height: 24px
  width: 100px
  margin: 5px auto 5px auto
  box-shadow: 0 1px 2px 0
  &:hover
    box-shadow: 0 2px 5px 0
    width: 125px
