$russian-violet: #2F0C38ff
$red-purple: #E71C79ff
$minion-yellow: #FFE452ff
$white: #FEFFFFff
$chrome-yellow: #F8A619ff
$orange-peel: #F89B1Dff;
$yellow-orange-color-wheel: #F7991Fff;
$black-shadows: #BBB4B8

$main-background-color: $minion-yellow

$main-h1-color: $russian-violet

$primary-button-color: $chrome-yellow
$secondary-button-color: $black-shadows
  