$black-shadows: #BBB4B8
$chrome-yellow: #F8A619ff
$maximum-yellow-red: #f9c262ff
$minion-yellow: #FFE452ff
$russian-violet: #2F0C38ff
$yellow-orange-color-wheel: #F7991Fff


$main-background-color: $minion-yellow
$main-h1-color: $russian-violet

$fetch-data-button-color: $yellow-orange-color-wheel
$primary-button-color: $chrome-yellow
$secondary-button-color: $maximum-yellow-red
  